.dark {
  /* Brand */
  --vp-c-brand-1: #7bc5e4;
  --vp-c-brand-2: #c4e2f2;
  --vp-c-brand-3: #4882a7;
  --vp-c-brand-soft: #a4d5ec;

  /* Background */
  --vp-c-bg: #1b2838 !important;
  --vp-c-bg-alt: rgb(23, 23, 23);
  --vp-c-bg-elv: rgb(23, 23, 23);
  --vp-c-bg-soft: rgba(23, 23, 23, 0.8);

  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  /* Sidebar */
  --vp-sidebar-bg-color: #181a21 !important;

  /* Buttons */
  --vp-button-brand-bg: #09679e;
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: #007496;
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
  --vp-button-alt-bg: #484848;
  --vp-button-alt-text: #f0eeee;
  --vp-button-alt-hover-bg: #484848;
  --vp-button-alt-hover-text: #f0eeee;

  /* Borders */
  --vp-c-border: #3c3f44;
  --vp-c-divider: #000000;
  --vp-c-gutter: #000000;
}