# Node modules
node_modules

# Yarn lock
yarn.lock
yarn-debug.log

# vuepress cache
**/.vuepress/.cache/**
# vuepress temp
**/.vuepress/.temp/**
# vuepress build
dist

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store
