# Node modules
node_modules

# lock file
package-lock.json

# vitepress cache
**/.vitepress/cache/**
# vitepress temp
**/.vitepress/.temp/**
# vitepress build
dist

# Ignore Mac DS_Store files
.DS_Store
**/.DS_Store