@require '~vuepress-plugin-tabs/dist/themes/default.styl'

// global css as stylus
.text-center 
  text-align center

.sub-text 
  color rgb(94, 94, 94)
  font-size 90%

.cursor-pointer
  cursor: pointer

.dark
  color white
  .sub-text
    opacity 0.8
    color: white

.flex
  display: flex
  flex-wrap: wrap

.flex-center
  justify-content  center

.no-decoration
  text-decoration  none

.main-section-disabled
  background-color  grey !important
  color lightgrey !important
  cursor not-allowed !important
  pointer-events none

// hide Hyperion TITLE
.site-name
  display none !important

.no-mp 
  margin 0 !important
  padding 0 !important

// ImageWrap component
.img-margin 
  margin 10px 5px
  p 
  margin 0

.img-shadow
  box-shadow 1px 1px 5px 0 rgba(0,0,0,0.4)

// Fix mobile language select
.sidebar .dropdown-wrapper .dropdown-title {
    pointer-events: auto;
}

// LED Device Tabs (Mobile)
.tabs-component-tabs {
  border-radius: 0
}

.tabs-component-tab {
  border-radius: 0
  border-color: transparent
  border-bottom-color: #ddd
}

.tabs-component-tab-a {
  padding: 0.5rem 1rem; 
}

.tabs-component-panels {
  border-left: 0
  border-right: 0
  border-bottom: 0
  box-shadow: none
  padding: 0
}

// LED Device Tabs (Desktop)
@media (min-width: ($MQMobile + 1px)) {
  .tabs-component-tab.is-active {
    border: solid 1px #ddd
    border-bottom: solid 1px #fff
  }
}

// Not found (404)
.not-found {
  display: flex;
  justify-content: center;
}

.not-found img {
  width: 60% !important;
  object-fit: cover !important;
}

// Dark mode
html.dark
  background-color: $darkPrimaryBg

  body
    color: $darkTextColor !important
    background-color: $darkPrimaryBg

  hr
    border-top-color: $darkBorderColor

  a
    color: $accentColorDark

  div[class*="language-"]
    background-color: #32607a

  .content__default
    code
      color: #ffffff
      background-color: #32607a
    a code
      color: #f4c988
    pre > code
      color: #ffffff

  .token.punctuation, .token.string
    color: #ffffff !important
  .token.property
    color: #f4c988 !important
  .token.boolean
    color: #f2d915 !important
  .token.number
    color: #2df215 !important
  .token.comment
    color: #adadad !important

  .custom-block
    p:not(.custom-block-title)
      color: $darkTextColor

  tr
    border-top-color: $darkBorderColor
    &:nth-child(2n)
      background-color: #32607a

  th, td
    border-color: $darkBorderColor

  .page-edit
    .edit-link a, .last-updated .prefix
      color: $accentColorDark

  .sidebar
    background-color: $darkPrimaryBg
    border-right-color: $darkBorderColor
    .sidebar-heading
      color: inherit
    .nav-links
      border-bottom-color: $darkBorderColor
  a.sidebar-link
    color: $darkAltTextColor
    &:hover, &.active
      color: $accentColorDark
      border-left-color: $accentColorDark

  .dropdown-wrapper .nav-dropdown
    background-color: $darkPrimaryBg
    border-color: $darkBorderColor
    h4
      border-top-color: $darkBorderColor
    a
      &:hover, &.router-link-active
        color: $accentColorDark


  .dropdown-wrapper
    .dropdown-title, .mobile-dropdown-title
      color: $darkTextColor

  .navbar
    color: $darkTextColor
    background-color: $darkNavbarBg
    border-bottom-color: $darkBorderColor
    .links
      background-color: $darkNavbarBg
    .site-name
      color: $darkTextColor

  .nav-links a
    color: $darkTextColor
    &:hover, &.router-link-active
      color: $darkTextColor
      border-bottom-color $accentColorDark

  .search-box
    input, .suggestions
      background-color: $darkSecondaryBg;
      border-color: $darkBorderColor;
    input
      color: $darkTextColor;
      &:focus
        border-color: alpha($accentColorDark, 0.75);
    .suggestion
      &.focused
        background-color: $darkPrimaryBg;
        a
          color: $accentColorDark;
      a
        color: $darkAltTextColor;

  .page-nav .inner
    border-top-color: $darkBorderColor

  .sw-update-popup
    background-color: $darkPrimaryBg

  .custom-block
    &.tip
      border-color: $tipGreen
      background-color: $darkTipBg
      .custom-block-title
        color: $tipGreen
    &.warning
      border-color: $warningYellow
      background-color: $darkTipBg
      .custom-block-title
        color: $warningYellow
      ul li
        color: $darkTextColor
    &.danger
      border-color: $dangerRed
      background-color: $darkTipBg
      .custom-block-title
        color: $dangerRed

  .card
    background-color: #005179
    &:hover
      background-color: #09679e

  .tabs-component-tab
    background-color: $darkPrimaryBg

  .tabs-component-panels
    background-color: $darkPrimaryBg
