// light/dark mode
@use 'light';
@use 'dark';

// hyperion logo effects
@use 'effects';

// variables
@import "variables";

// common styles
:root {
  min-width: 430px;
  scroll-behavior: smooth;
}

.site-name.can-hide {
  display: none;
}

.text-center {
  text-align: center;
}

.sub-text {
  color: rgb(94, 94, 94);
  font-size: 90%;
}

.cursor-pointer {
  cursor: pointer;
}

.dark {
  color: white;
  .sub-text {
    opacity: 0.8;
    color: white;
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.no-decoration {
  text-decoration: none !important;
}

// ...
.page .theme-default-content {
  padding-top: 2rem;
}

// Not found (404)
.not-found {
  display: flex;
  justify-content: center;
  margin-top: var(--navbar-height);
  img {
    width: 60% !important;
    object-fit: cover !important;
  }
}

// Cards
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }
}

// Navbar external forum link
.external-link {
  span {
    display: none;
  }
}

// Language dropdown
.translate-dropdown {
  display: flex;
  margin: auto;
  border: 0;
  background: none;
  color: var(--c-text);
  opacity: 0.8;
  cursor: pointer;

  @media print {
    display: none;
  }

  &:hover {
    opacity: 1;
  }

  .icon {
    vertical-align: bottom;
    width: 1.5rem;
    height: 1.5rem;
  }
}

// Printer styles
@media print {
  .page {
    padding-top: 0 !important;
  }
  .sidebar,
  .navbar {
    display: none;
  }
}

// plugin-back-to-top
.vp-back-to-top-button {
  --back-to-top-icon: url("/backtotop.svg");
  --back-to-top-bg-color: var(--c-bg-transparent);
  --back-to-top-color: var(--c-text);
  --back-to-top-color-hover: var(--c-text-accent);
  --back-to-top-shadow: var(--box-shadow);
}

// plugin-search
.search-box {
  margin-right: 1rem;
  --search-accent-color: var(--c-brand);
  --search-text-color: var(--c-text);
  --search-item-text-color: var(--c-text-sub);
  --search-bg-color: var(--c-bg-lighter);
  --search-item-focus-bg-color: var(--c-bg-lighter);
  --search-border-color: var(--c-border);
  --search-input-width: 13rem;
  --search-result-width: 20rem;
}

@media (max-width: 910px) {
	.navbar .navbar-items-wrapper {
		max-width: calc(100vw) !important;
	}

  .navbar-items-wrapper:has(input:focus) {
    .toggle-color-mode-button {
      display: none;
    }
    .navbar-items {
      display: none;
    }
  }

  .search-box {
    input {
      cursor: pointer !important;
      width: 0 !important;
      position: relative !important;
      overflow-x: hidden;
    }
    input:focus {
      cursor: text !important;
      left: 0 !important;
      margin-left: 0px !important;

      width: calc(100vw - 36px) !important;
    }
  }
}

// plugin-medium-zoom
.medium-zoom-overlay {
  --medium-zoom-bg-color: var(--c-bg-transparent);
}