name: Documentation CI Build
on:
  push:
    branches-ignore:
      - 'gh-pages'

jobs:
  Docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Install dependencies
      - name: Setup latest Node.js
        uses: actions/setup-node@v4
        with:
          check-latest: true

      # Build Docs
      - name: Build docs
        run: |
          npm install -g yarn
          yarn install
          yarn docs:build

      # Deploy to gh-pages
      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          cname: docs.hyperion-project.org
